[user]
	email = bwood@berkeley.edu
	name = Brian
[checkout]
	defaultRemote = origin
[pull]
	rebase = false
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/bwood/.gitignore
[safe]
	directory = /Users/bwood
